.FadedEdge {
  position: relative;
}

.FadedEdge > .overlay {
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
}

.FadedEdge > .overlay.right {
  background: -webkit-linear-gradient(right, white, rgba(0,0,0,0));
}

.FadedEdge > .overlay.left {
  background: -webkit-linear-gradient(left, white, rgba(0,0,0,0));
}
