.temperatureStrip {
  display: flex;
  justify-content: space-between;
  max-width: calc(var(--container-width) - 3rem);
  overflow: auto;
}

.temperatureStrip > div {
  margin: 0.5rem;
}

.centerContainer {
  width: fit-content;
  margin: auto
}

.submitButton {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.clearButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  padding: 0.5rem;
}
