.temperatureStrip {
  display: flex;
  justify-content: space-between;
  max-width: calc(var(--container-width) - 3rem);
  overflow: auto;
}

.temperatureStrip {
  > div {
    margin: 0.5rem;
  }
}

.mainStats {
  display: flex;
  justify-content: center;
  margin: 4rem auto;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }

  > div {
    margin: auto 0;
  }

  .iconLabel {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    > span:first-child {
      margin-right: 5px;
    }
  }
}
