.DailyTemperature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DailyTemperature > .temperatures {
  text-align: center;
}

.DailyTemperature > .temperatures > span:first-child {
  color: #cc2f08;
}

.DailyTemperature > .temperatures > span:last-child {
  color: #077cb3;
}
