.currentTemperature {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.currentTemperature {
  button {
    padding-right: 1rem;
  }
}

.currentTemperature {
  img {
    padding-right: 1.5rem;
  }
}
